[2021-03-11 22:28] mbjones opened #1 "support python3"
Current processing code depends on python 2.x. Need to upgrade to support 3.x.

[2021-03-11 22:57] ThomasThelen opened #3 "Migrate to Kubernetes"
DataONE has a Kubernetes cluster that this stack should work nicely in. Migrate the docker swarm over to a Kubernetes Helm Chart and deploy it on the development cluster.

Once complete, do a fully integrated test to make sure that harvesting and graph population works the same (nothing should change from this). With Kubernetes, we should think about a new logging framework that integrates nicely

[2021-03-12 00:37] ThomasThelen opened #4 "Create schema:Dataset nodes instead of geolink:Dataset"
Transform the geolink:Dataset object to, at a high level, conform to the schema,org model (schema:Dataset). For this task, ignore the representation of individuals. This representation should include the following properties, which can then be expanded on.

- name
- description
- url
- accessibility
- license
- identifier
- keywords
- connected EML document

Some of these aren’t super useful to kn

[2021-03-12 00:37] ThomasThelen opened #5 "Add support for spatial coverage"
Science on schema has an explicit way of handling spatial data; if the EML document supports it-we should definitely include it in the graph. This can be a strong case for third party integrations (eg KWG).

[2021-03-12 19:37] ThomasThelen opened #6 "Describe people using SOSO guidelines"
Transform the representation of people affiliated with datasets to conform to schema,org. This is most likely a large task that involves a few parts...

- Refactoring the internal representation of people. Right now they’re represented under the geolink vocabulary. When making the switch to schema,org we should replace the terms with schema,org ones (isomorphic with foaf)
- Connecting datasets to

[2021-03-12 20:09] ThomasThelen opened #7 "Represent individual files"
We need a way to represent individual files. Right now, there isn't a great way to do this with SOSO.

One option is to represent them as individual nodes in the graph and connect the related dataset(s) to them. This would allow us to further annotate the nodes with additional information, such as which variables they describe.

Unknowns:
1. The rdf:type of the node
2. The predicate connecting the

[2021-03-12 20:13] ThomasThelen opened #8 "Create & Assign Early Milestones"
We should create a few milestones for work in the foreseeable future. From the 03/11/21 call we know that we need at the least, the graph up and running under K8 and that we want a schema,org representation of datasets and people. The work after (measured variable, files, geospatial, etc) is currently unordered.

1.0: Python 3 + Kubernetes Stack
2.0: Graph with schema:Dataset + schema:Person nodes

[2021-03-13 03:06] mbjones commented on #7
Earlier we discussed that individual files are in fact listed in SOSO guidelines using the `schema:DataDownload` class in the distribution property, which can be repeated for each data entity in a Dataset. The representation is like this:

[code]

To add additional properties, we could attach additional classes. In GeoLink, this was the [`geolink:DigitalObject`](http://schema.geolink.org/1.0/base/

[2021-03-15 20:02] ThomasThelen commented on #7
Ah I ran across the following and blanked on the other section where DataDownload is used for other general files.

Our best bet is just sticking with schema:DatasetDownload. It has dcat:distribution as an equivalent class, so we should be able to use dcat terms where we appropriate

[2021-03-16 00:15] amoeba commented on #1
I've done this locally and was just waiting on us to pick a repo name to push it up. The migration seemed to go off without any hitches but I'm expecting we'll find some issue with common things such as string handling that the tests aren't catching already.

[2021-03-16 02:34] mbjones commented on #1
There is a branch `feature_1_python3` with your code in it I think, not yet merged into develop.

[2021-03-16 22:36] amoeba commented on #1
Ah, thanks for the heads up @mbjones. @ThomasThelen is currently kicking the tires with the service locally and will merge to develop if things work well for him.

[2021-03-17 03:27] amoeba opened #9 "Engineering problems left over from d1lod work"
@ThomasThelen and I touched base today to go over the existing codebase. I wanted to document some of the issues we talked about here for us and others to see. They're all really leftover technical debt from the initial GeoLink work on this:

1. Co-reference resolution and IDs: The current system tries to re-use identifiers for people and (I think?) organizations when it has a reasonably high chan

[2021-03-18 19:34] ThomasThelen opened #10 "Remove web & www directories"
With the transition over to Virtuoso, we no longer need Apache + Tomcat to expose sesame and the work bench (since they're no longer used). The Apache+Tomcat container is in the `web/` folder, while the web stuff is in `www/`.

[2021-03-19 00:25] mbjones opened #11 "expose protected SPARQL endpoint"

[2021-03-19 00:25] mbjones opened #12 "deploy basic graph visualization tool via SPARQL"

[2021-03-19 00:27] mbjones opened #13 "access datasets from DataONE updates queue"
To process all data that comes into DataONE, we need to be able to get access to the metadata files in an efficient manner, and be notified when new updated revisions or changes to SystemMetadata are available. This is the same access problem from k8s for the MetDIG processor and the DataONE index processor, and can likely use the same solution. We have discussed making the metadata documents avai

[2021-03-19 00:28] mbjones opened #14 "establish Dataset graph pattern"
This is to determine how the `schema:Dataset`, `dcat:Dataset`, and related classes inter-relate, and how they will be tied to People and other critical entities.

[2021-03-19 00:29] mbjones opened #15 "parse and incorporate ORE triples"

[2021-03-19 00:29] mbjones opened #16 "parse and incorporate SystemMetadata triples"

[2021-03-19 00:29] mbjones opened #17 "support parsing EML into triples"

[2021-03-19 00:30] mbjones opened #18 "support parsing SOSO documents into triples"

[2021-03-19 00:30] mbjones opened #19 "support parsing ISO 19115* family metadata into triples"

[2021-03-19 00:30] mbjones opened #20 "create a DataONE graph epic"
Create a DataONE graph store that:

- runs a graph store in kubernetes that can be scaled and relocated across nodes
- parses and indexes incoming metadata documents from DataONE into a set of RDF statements
    - supports multiple metadata dialects, including EML, schema.org, ISO-19115*, and extensible to others
- stores those RDF statements in a graph store like Virtuoso or graphDB
- exposes a S

[2021-03-19 22:24] ThomasThelen commented on #11
It looks like we should be able to create accounts for any services that we want to allow. The administrators of those services can then generate an OAuth token for their account and use it in their queries. [Virtuoso + OAuth](http://vos.openlinksw.com/owiki/wiki/VOS/VirtOAuthSPARQL)

There's a [stale pull request](https://github.com/openlink/virtuoso-opensource/pull/814) that might be a fix for t

[2021-03-19 22:46] mbjones commented on #14
The current description of the Dataset pattern is here:

https://github.com/DataONEorg/slinky/blob/main/docs/mappings.md

I think we should modify that document to describe the new `schema:Dataset` pattern we would like to follow

[2021-03-20 20:23] ThomasThelen commented on #6
Some misc thoughts.

One concern that I have is answering "What is the authority for defining a person?".

For example, what happens when I submit a dataset that lists my first and last name along with my email address-and then submit a second dataset where my email has a typo in it? Depending on how we harvest information, we're going to

1. Have a node with two email addresses. This is arguably

[2021-03-20 20:52] ThomasThelen commented on #9
Regarding the fourth point-the ELK stack is one of the most popular logging stacks with Kubernetes. I'm in the middle of getting them up and running (without rqdashbioard) with the rest of the core services. Given the new deployment it'll be worthwhile to retest things like performance, but when it comes to logging stacks in K8 it looks like a tomato tomahto situation.

[2021-03-22 18:51] mbjones commented on #6
@amoeba and I went through a long process to establish an algorithm of disambiguating identities for people during GeoLink. I believe the current code includes an implementation of the logic we arrived at. The crux is that we wanted to 1) combine nodes together under a single Person node whenever we could unambiguously (100%) determine that the records refer to the same real world person -- this g

[2021-03-22 18:55] mbjones commented on #6
In rereading the document above, I see it also talks a bit further down about the matching predicates, but doesn't specify exactly what they are. Conceptually, they are `matches`, `hasAccount`, and `hasConfirmedMatch`, but I don't what vocabulary we used for those. @amoeba can you clarify?

[2021-03-22 22:26] mbjones commented on #4
See discussion of graph patern in #14

[2021-03-23 00:47] amoeba commented on #6
I don't think that section ever got implemented. Collaborators at Wright State were working on the co-reference resolution side of things but it never got formal enough to go in. In my attempts, I never found anything that worked better than hard-coded logic but I think hard-coded logic actually works really well. What's implemented now can be pushed a lot further, beyond name+email matching.

[2021-03-23 14:34] ThomasThelen commented on #11
I've spent a bit of time on this and haven't been able to get it to work. I filed an [issue](https://github.com/openlink/virtuoso-opensource/issues/952); there's either a bug (I provided steps to reproduce), the guide is outdated, or I've somehow missed something. In the meantime I've pushed my changes to the [feature_secure_sparql_endpoint](https://github.com/DataONEorg/slinky/tree/feature_secure

[2021-03-23 16:29] mbjones commented on #11
ok, let's have @amoeba take a look and maybe you two can come up with an alternate proposal, or see a way to make this work. For the time being an unprotected endpoint is probably ok as long as the kubernetes deployment has appropriate resource limitation guards in place. @gothub put together some of these limits in his config for MetaDIG, so he may have examples.

[2021-03-23 17:09] ThomasThelen commented on #1
I'm beginning work on this today, starting by rebasing it onto the `feature_kubernetes_deployment` branch in anticipation of it being merged into `develop` soon. Then, I'll work on testing the K8 deployment to make sure the results are the same between branches.

[2021-03-24 15:25] ThomasThelen commented on #13
I definitely like the idea of the mounted filesystem. Under this architecture, it might be possible to get rid of the SOLR queries and requests that are made while initially populating the graph. I imagine instead we'd just crawl the mounted system and process each file. If it's a new instance of the graph, these can be done sequentially without worrying if they've already been processed.

It also

[2021-03-24 18:03] ThomasThelen opened #23 "Refactor Images to pip Install"
I feel like there's an identity crisis in this repository that's between the actual d1lod python library, the deployment of it, and the documentation.

For example, the fact that we need to copy the `d1lod` directory into the docker build directory, which then gets copied into the image, means something's not quite right. Doing this will bring about bugs in the future where the requirements.txt in

[2021-03-24 18:41] amoeba commented on #23
Sounds like you have a lot of experience I don't have yet so I'm happy to defer to you on some of the Python- and k8s-isms. The d1lod Python package needs to be mostly ripped out or at least overhauled anyway so I wouldn't stress too much about above issues like copying into images and not being able to pip-install. Those are probably just my goofs.

The current approach is advantageous because I

[2021-03-24 19:00] ThomasThelen commented on #23
I think getting the pip install to work with `pip install git+ ` would be huge for separating the build stuff from the actual contents of the repo.

The reason the previous approach was working was because the docker-compose file was at the project root-so it had access to d1lod _and_ to the Dockerfiles. This is important because you're not able to include anything above the directory that the doc

[2021-03-24 20:57] #3 closed

[2021-03-24 20:57] #10 closed, assigned to ThomasThelen

[2021-03-24 21:00] ThomasThelen opened #24 "Add Logging Capabilities"
For a complete stack, we should have some logging resources at hand. The ELK stack is one of the most popular K8 logging frameworks. It was also present in the original d1lod repository.

Within the context of the DataONE Kubernetes stack, we may want to have a central logging system in place that aggregates logs from other namespaces (including slinky).

[2021-03-25 22:59] ThomasThelen commented on #11
I found that [this](http://vos.openlinksw.com/owiki/wiki/VOS/VirtSPARQLProtectSQLDigestAuthentication) method of authentication works. The gist is that we manually create a user under the admin account and can give them SELECT, UPDATE, or SPONGE roles. When they visit the `sparql/` endpoint, they'll be prompted to login (shown below)

<img width="482" alt="Screen Shot 2021-03-25 at 3 57 42 PM" src

[2021-03-26 00:10] amoeba opened #27 "Set up test deployment on our test k8s cluster"
As of https://github.com/DataONEorg/slinky/issues/3, @ThomasThelen has gotten Slinky running under minikube so the next thing to work on is to get a real deployment under k8s going so we can test all the odds and ends of getting that done (ie Docker Hub, ingress, etc).

What would be ideal would be hooking things up enough that I can, as a developer, make changes to services like the worker or sch

[2021-03-26 00:16] amoeba commented on #8
I think these are created. Can this be closed?

[2021-03-26 02:00] amoeba commented on #11
Good find @ThomasThelen. That might be enough for us to grant a few folks direct access. I'll leave this open for a while in case there's more discussion.

[2021-03-26 02:22] ThomasThelen commented on #12
A few misc resources from the Mar 25 2021 call

https://github.com/EBISPOT/OLS-graphview
https://cytoscape.org/index.html
https://github.com/openlink/virtuoso-opensource/issues/666
https://github.com/mgskjaeveland/sgvizler

[2021-03-26 02:23] #1 closed

[2021-04-02 00:56] amoeba opened #28 "parse and incorporate measurements/variables/features/attributes/etc"

[2021-04-02 22:06] amoeba opened #29 "Figure out a way we might front our triplestore"
To integrate linked open data into existing web views and services, we likely don't want to expose, say, a SPARQL endpoint. If we did, we might at least want to point it at a read replica.

Another approach would be to put something in front of the SPARQL endpoint to constrain the types of queries that can be constructed by users without direct access to the SPARQL endpoint. There must be some sol

[2021-04-07 19:45] ThomasThelen commented on #7
Do we want to talk about resource maps, system metadata, and science metadata as individual nodes in the graph? We certainly want to talk about EML documents-or at least link the download location as outlined [here](https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset.md#Metadata).

When it comes to science metadata imagine that we have a node in the graph describing a parti

[2021-04-08 00:56] amoeba commented on #7
That a file (`schema:DataDownload`) has System Metadata record isn't really scientifically interesting, nor is the fact that it's got a Resource Map Object describing/aggregating it. The approach we have in place now pulls properties from various DataONE types but aggregates them as properties on either the `schema:Dataset` or `schema:DataDownload`. The `ore:aggregates` triples in the ORE are repr

[2021-04-08 16:35] ThomasThelen commented on #7
What had me thinking about this was [this](https://github.com/DataONEorg/slinky/issues/15) issue which could mean a number of things though... I think my statement was probably a pondering of how much we're modeling the actual structure of DataONE (ORE aggregating files, each having an associated system metadata document, etc) next to the SOSO representation. But it makes sense to aggregate a numb

[2021-04-08 16:36] #8 closed, assigned to nobody

[2021-04-09 19:42] amoeba commented on #7
Yep, that's what I'm working on over on https://github.com/DataONEorg/slinky/pull/21 at the moment. Once that's done, we can do step 3.

[2021-04-14 20:39] mbjones commented on #7
This approach sounds good to me. I've never been very happy with the semantics of `schema:DataDownload`, but agree we should use it to represent the files. However, we could also benefit it by cross typing it with one other common vocabulary that has the concept of a data entity, mainly `prov:Entity` (or maybe `provone:Data`?). Are there other candidates other than PROV for this common concept to

[2021-04-14 23:14] amoeba commented on #7
I agree. cross typing with `prov:Entity`, `provone:Data` and probably even `dcat:Distribution` seem both useful and logically correct. Considering that we're inserting into a graph, does it make more sense to (1) explicitly assert each type on each dataset or (2) just toss a few `owl:equivalentClass` statements in when the graph is constructed?

Option (1) is nice because simple SPARQL queries wil

[2021-04-30 19:44] ThomasThelen commented on #27
I think one of the last things we'll need to do is switch the volume driver over to ceph. I'll be providing an estimate for the amount of space our volumes will need. Persistent volumes are on the _cluster_ level, which the slinky account doesn't have access to (for security reasons). Giving an estimate of the space should give administrators a good estimate of how much space to allocate for PV's

[2021-05-01 20:08] gothub commented on #27
@ThomasThelen @amoeba  A PV is setup on the k8s dev cluster that slinky can use. The PV was created with the admin context.
Using the slinky 'kubeconfig' that is in Keybase, here is an example (run on my laptop) of creating a slinky PVC that uses the PV
[code]

The PV and PVC use NFS, which is temporary until Ceph can be setup, but this should be sufficient for testing.
Please let me know if you e

[2021-05-04 01:44] amoeba opened #30 "Find solution to Virtuoso SPARQL troubles"
Years ago, back when we set up d1lod, we decided to handle inserting RDF data into whichever triplestore we used in an agnostic fashion so the triplestore could be swapped out without too much work. So we settled on inserting data via SPARQL INSERT statements.

While revisiting d1lod and repurposingn it for Slinky, I've run into two related issues with this approach:

1. Virtuoso has some sort of

[2021-05-04 19:50] amoeba commented on #30
@ThomasThelen mentioned two things to consider if we were to swap to Blazegraph:

1. Authentication: Virtuoso offers some authentication support we might lose if we switch
2. GeoSPARQL support: It looks like Blazegraph supports some spatial functionality but not quite GeoSPARQL. Not sure if this is really a problem but it's worth considering. See https://github.com/blazegraph/database/wiki/GeoSpat

[2021-05-05 00:40] amoeba commented on #29
I built something that serves at least my needs for now: A basic web app that can return linked data about a given DataONE PID. I don't have anywhere to host it at the moment but it lives alongside our other deployment configs in https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern/deploy/docker/web.

[2021-05-05 00:42] amoeba commented on #28
Mapping EML 2.1.1/2.0.0 attributes is done in the branch https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern. Still need to add in support for ISO and any other applicable standards.

[2021-05-05 00:43] amoeba commented on #27
Thanks @gothub! I talked with @ThomasThelen and he's going to test it out soon.

[2021-05-05 00:48] amoeba commented on #23
I did a bit of research on how to do a good job building Python packages and I think I have a good system in place at https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern/. The d1lod package now uses an entirely setup.py-based install so you can just `pip install [-e] .` it or pip install it from GitHub. I'm pretty happy with this for now because it supports building development

[2021-05-05 00:53] amoeba commented on #17
We're still working on mappings in #21 but I have got a work-in-progress version of this going. It's got a number of issues but I think it's a good start. The following command triplifies an entire DataONE Data Package using the latest state of the code in https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern.

[code]

[code]

[2021-05-10 23:25] mbjones commented on #17
@amoeba this is looking good. I mentioned this on our call last week, but repeating here for posterity.... it would be good to provide structured info for https://schema.org/variableMeasured when we have it. The new SOSO guidelines on variableMeasured look like they will be amendable to 3 levels of detail:

1) If you don't have any semantic measurement type, at least provide variable names in text

[2021-05-11 19:36] amoeba commented on #17
Thanks @mbjones, I'm really glad to see that document has come so far. Looks like we can get a ton of metadata out of EML attributes using that pattern. I'll have a go.

From my read, it looks like we can do (1) for most records, (2) when we have semantic annotations but _not_ annotations for both an Entity and Characteristic and (3) when we do.

[2021-05-12 01:09] mbjones commented on #17
I added an [alignment graphic](https://github.com/DataONEorg/slinky/blob/feature_14_graph_pattern/docs/oboe-alignment.png) for OBOE/SSN-EXT/schema.org in order to facilitate thinking about how we do this mapping to schema.org:

![](https://raw.githubusercontent.com/DataONEorg/slinky/feature_14_graph_pattern/docs/oboe-alignment.png)

[2021-06-03 18:24] ThomasThelen opened #31 "Remove Persistent Volume Definitions"
At some point we're going to be using ceph storage which means deploying slinky locally will be very involved. There's also the architecture of the DataONE k8 cluster that enforces restrictions on who can create persistent volumes. Because of this, the persistent volume definitions should be moved out of this repository and into the DataONE k8 cluster repository. The development and production clu

[2021-06-04 00:38] mbjones commented on #31
For the record, from the slinky perspective, using Ceph should be no more or less complicated than any other storage approach. In all cases, including Ceph, slinky simply needs to make a PVC on a predefined PV. That a particular PV is located on Ceph is of no concern to the application, although it does have improved persistence compared to, for example, a host based volume.

[2021-06-14 19:02] amoeba opened #33 "Investigate integration with OpenAlex (previously Microsoft Academic Graph)"
[OpenAlex](https://openalex.org/) is launching December 2021 and could be a great complement to the DataONE graph. They'll have ORCIDs, RORs/GRIDs and lots more. See this [https://blog.ourresearch.org/openalex-update-june/](blog post) for more info.

[2021-06-22 16:00] ThomasThelen commented on #11
Virtuoso put in a fix for the broken OAuth feature! So that should be possible now with Virtuoso 7.2.6

[2021-06-22 18:10] amoeba commented on #11
That's great. I see we probably oughta switch to using the official VOS docker images. I must've went with the tenforce images because Virtuoso wasn't pushing up official images back then? I'll file a separate issue.

[2021-06-22 18:11] amoeba opened #34 "Switch to using official VOS images"
Virutoso now (since 2017?) has official images. We should use those I think: https://hub.docker.com/r/openlink/virtuoso-opensource-7/.

[2021-06-23 23:29] amoeba commented on #34
I swapped the image the test suite's docker-compose uses from the [tenforce](https://hub.docker.com/r/tenforce/virtuoso/) image to the [official one](https://hub.docker.com/r/openlink/virtuoso-opensource-7) in 72b00fae54e40183e9bcf360bfc9de1ca1bd0f8e.

I wasn't expecting any compatibility issues and there were none: The test suite runs fine under the new image. I did run into one fun thing that ch

[2021-06-25 18:28] ThomasThelen opened #35 "Change Default Account Passwords"
We should avoid using passwords for the default virtuoso accounts, for example `dba:dba` and `dav:dav`. We should be setting new passwords during deployment; see [this](http://docs.openlinksw.com/virtuoso/defpasschange/) documentation link for more information.

[2021-06-25 18:36] amoeba commented on #35
Totally. I'll toss the docs for the official openlink image we're using in here: https://hub.docker.com/r/openlink/virtuoso-opensource-7. See the "Passwords". section.

[2021-06-25 21:28] amoeba commented on #29
Related, we might expose http://yasgui.triply.cc/ instead of the Virtuoso interface.

[2021-06-25 22:22] ThomasThelen opened #36 "Document the Deployment Architecture"
We should document the Kubernetes structure along with the interactions between the worker, scheduler, and virtuoso.

[2021-06-29 16:08] ThomasThelen commented on #30
An alternative to SPARQL requests is...

1. Write the turtle to disk
2. Upload the file to WebDAV
3. Let Virtuoso know to ingest the file to the graph
More info [here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtRDFInsert#HTTP%20PUT) and [here](http://vos.openlinksw.com/owiki/wiki/VOS/VirtGraphProtocolCURLExamples)

Alternatively, we can possibly share storage between the triplifier and graph; th

[2021-06-29 16:16] ThomasThelen commented on #31
This has been fixed in PR #32 and successfully tested on development (non-ceph). The important thing is that the PV declarations are no longer in this project and refactoring have been done so that all pods use the same claim.

[2021-06-29 16:16] #31 closed, assigned to ThomasThelen

[2021-06-29 16:20] ThomasThelen commented on #27
The core services are deployed and stable; once we determine precisely how we want to [expose virtuoso](https://github.com/DataONEorg/api-entrypoint/issues/9) we can close this issue.

[2021-07-01 02:38] amoeba opened #37 "Fix bug in ORCID processing code"
Saw this while testing earlier today

[code]

[2021-07-01 21:59] ThomasThelen commented on #23
I think that the pip install should get around the manual copying of the packages to the library folders-which I think was mixing me up the most. Once the pip refactor is complete I think this issue should be resolved.

edit: We still have to copy the source code into the container which I think was the other thing I was suggesting we get away from. The best solution to this is to be able to add t

[2021-07-02 01:05] mbjones opened #38 "import funder identifiers and metadata"
The dataone graph will hopefully have many references to funders through metadata documents that link to global funder identifers from the [CrossRef Funder registry](https://www.crossref.org/services/funder-registry/), and from the [ROR system](https://ror.org). Both are made available as data dumps:

- Funder registry (in RDF): https://gitlab.com/crossref/open_funder_registry/-/blob/master/regist

[2021-07-02 01:06] mbjones commented on #38
Also, note that those data dumps are updated periodically, so we can both reimport periodically, and they each have a REST API as well.

[2021-07-02 03:03] amoeba opened #39 "Put together a landing page for Slinky with example queries"
Exposing a SPARQL endpoint for Slinky would be fun but it's not all that useful to anyone but ourselves. And even then.

It'd be better if we had a concise showcase of what Slinky is and what it can do and this could similar to what we did for GeoLink: http://data.geolink.org/.

Today we put together a quick list of interesting example queries that could go on this page:

- Show me all datasets th

[2021-07-07 19:51] amoeba commented on #39
On a related note, I just found https://github.com/aws/graph-notebook which might be useful somewhere.

[2021-07-08 21:08] ThomasThelen opened #40 "Virtuoso Should Use ClusterIP"
The Virtuoso service should be set as a ClusterIP so that the ingress controller can manage traffic rather than directly exposing the service to the outside world.

[2021-07-09 22:15] ThomasThelen commented on #27
Linked to #41 because after it's accepted, we'll have a fully protected dev deployment that we can test on. It's also been confirmed that the graph has been populating using the geolink convention.

[2021-07-13 22:05] ThomasThelen commented on #40
Fixed in #41

[2021-07-13 22:05] #40 closed, assigned to ThomasThelen

[2021-07-13 22:05] #27 closed, assigned to amoeba, ThomasThelen

[2021-08-16 23:46] amoeba commented on #5
Closing as this is done in https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern.

[2021-08-16 23:46] #5 closed, assigned to amoeba

[2021-08-16 23:46] amoeba commented on #4
Closing as this is done in https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern.

[2021-08-16 23:47] #4 closed, assigned to amoeba

[2021-08-16 23:50] amoeba commented on #19
Closing as this is done in https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern.

[2021-08-16 23:50] #19 closed, assigned to amoeba

[2021-08-16 23:53] amoeba opened #42 "Merge feature_update_graph_pattern and re-deploy to the dev cluster"
The work on https://github.com/DataONEorg/slinky/tree/feature_update_graph_pattern is far along and can be merged to `develop` whenever. There will definitely be some cleanup to get the deployment back to a working state so we'll have to do that.

[2021-09-17 20:40] amoeba opened #44 "Next steps: Slinky as a layer of enhancement on top of static holdings"
[I'm filing this not because we're moving on to next steps already but just to file it and let people chime in with ideas]

We can always find ways to improve the metadata we have but most metadata are written once, possibly checked and tweaked by a moderation team, and the left fixed in stone. What if we could extend the ways Slinky already improves metadata (ie co-reference resolution, minting/f

[2021-09-18 06:24] mpsaloha commented on #44
I hope people are aware that our MOSAIC ontology already captures much of
this information in RDF/OWL semantic format, and that this was done
deliberately--

e.g.
*Polarstern *"is a large Research Vessel" that "is the Basis for"* Campaign
PS122/1* "with research location" *Arctic Ocean* "having starting location"
*Tromsø* and "Chief Scientist" *Markus Rex *and "hosts"* Event
PS122/1_1-100 *"made b

[2021-11-05 00:12] ThomasThelen opened #45 "rdfsurveyor deployment"
I gave a demo of using rsdfsurveyor with Slinky on the Nov 4 2021 salmantics call. To do the demo I created deployment and service files for rsdfsurveyor-I'm wondering if there might be some utility in keeping them around for internal use. It's fairly lightweight: an nginx based container with the [rdfsurveyor](https://github.com/guiveg/rdfsurveyor) source in `www/html` and a service file to expos

[2021-11-05 00:47] ThomasThelen commented on #39
One option is to use the yasgui module for the query page, which is used on the gnis-ld [queries](https://stage.gnis-ld.org/queries) page. It's _really_ easy to set up and should work on any framework that supports npm or yarn. I think the bigger questions are which technology we'd want to go with. I feel pretty biased towards hugo because it's well supported, uses pretty sane templating & css lan

[2021-11-06 13:48] ThomasThelen opened #46 "Use ceph-fs volume"
We should refactor our PV & PVC definitions to use the ceph-fs facilities which are now available.

[2021-11-06 13:52] ThomasThelen opened #47 "Deployment Startup Order"
Right now the worker on the dataset queue isn't waiting for virtuoso to start up and will produce errors while trying to communicate with it. Ideally the deployment would wait for Virtuoso to start up before starting the workers. Alternatively the source code of the worker could wait for an available triple store.

With kubectl, I can write a shell script that utilizes `kubectl wait` to pause the

[2021-11-06 16:51] ThomasThelen opened #49 "Use a different dockerhub account"
From the November 4th development call we should create a new email account for dockerhub to store the related project images. This account can be used by other devs when working on the project.

[2021-11-10 16:01] ThomasThelen commented on #42
Merged in #43

[2021-11-10 16:01] #42 closed, assigned to ThomasThelen

[2021-11-10 16:01] ThomasThelen commented on #34
Completed in #42

[2021-11-10 16:01] #34 closed, assigned to amoeba

[2021-11-10 16:01] ThomasThelen commented on #35
Completed in #42 ; deployments can manage the password in the environmental variable field

[2021-11-10 16:01] #35 closed, assigned to nobody

[2021-11-10 16:03] ThomasThelen commented on #23
Completed in #42 ; we can now `pip install .` in the root d1lod directory.

[2021-11-10 16:03] #23 closed, assigned to amoeba

[2021-11-10 16:11] ThomasThelen opened #51 "Configure networking via env vars"
We have a few deployment cases for slinky; at the moment we can configure these using an [environment](https://github.com/DataONEorg/slinky/blob/develop/d1lod/d1lod/settings.py#L10). In #43 I added a `--prod` flag to the cli which brings us further away from the pattern using environmental variables for this.

Instead, we should be able to configure the hosts in the kubernetes deployment file and

[2021-11-10 18:03] ThomasThelen commented on #39
Relating this to #11 because depending on the web framework we choose we can do a reverse proxy to Virtuso.

I'm imaging this would be deployed at `api.dataone.org/slinky` and the sparql endpoint at `api.dataone.org/slinky/sparql`.

An alternative would be to give the sparql endpoint priority at `api.dataone.org/slinky/sparql` (since `api.dataone.org/slinky` is Virtuoso Conductor), which might fee

[2021-11-11 01:26] amoeba commented on #37
Fixed by 10e6b122877fa3ad7669ff0ffd8dee3b5c3139e3.

[2021-11-11 01:26] #37 closed, assigned to amoeba

[2021-11-12 16:23] ThomasThelen commented on #47
Merged in #48

[2021-11-12 16:23] #47 closed, assigned to ThomasThelen

[2021-11-12 16:24] ThomasThelen commented on #36
Documented in #48

[2021-11-12 16:24] #36 closed, assigned to ThomasThelen

[2021-11-12 16:27] ThomasThelen commented on #49
Completed in #48

[2021-11-12 16:27] #49 closed, assigned to ThomasThelen

[2021-11-15 22:59] ThomasThelen opened #52 "Convert to a Helm Chart"
Right now deployment is handled through a `make` file. It would be great if developers could use the same tooling across all kubernetes deployments, like `helm`.

One hoop to jump through is ordering the deployment process; we want some pods to start after others have started. Helm doesn't have an official way to specify an ordering of deployments, but it looks like there's at least one workaround

[2021-11-16 02:32] mbjones commented on #52
Kubernetes is designed to be a "declarative" system for describing the state of a set of services (e.g., service `X` should exist). I think it might make sense to make the components robust with respect to services that are currently not yet up -- i.e., ordering shouldn't matter. This might be enabled by having, for example, the deployment that depends on redis do error checking such that, if redi

[2021-11-16 20:09] ThomasThelen opened #53 "Deployment ordering"
This is an issue for cleaning up the dependency ordering in the deployment. Right now we're using the makefile that interacts with kubectl to wait for pods to be in the ready state. This works at the moment, but doesn't apply to the docker stack deployment and adds a layer of complexity to the deployment. It also makes things tricky with Helm charts (see #52).

The general idea is to bring the 'wa

[2021-11-16 20:43] amoeba commented on #53
Thanks for writing this up, @ThomasThelen. Adding a CLI command for the `rqscheduler` and a retry mechanism sounds great.

Just as a note,

rqscheduler just submits any scheduled jobs to the queue they're to be scheduled on. Currently that's just enqueueing the Update job every n minutes in a cron-like fashion. No jobs are moved between queues. A worker listening to the Update queue does process t

[2021-12-02 22:10] ThomasThelen commented on #46
We're using a statically provisioned ceph volume which moves us in the right direction for standardizing our services on kubernetes and should be enough for the 0.2 milestone.

[2021-12-02 22:10] #46 closed, assigned to ThomasThelen

[2021-12-08 19:18] ThomasThelen opened #55 "Remove legacy code"
We have a folder of legacy code and a few unit tests that are tied down to it (test_metadata, test_graph, conftest). We probably want to decouple the legacy code from the tests and remove it from the code base

[2021-12-08 19:22] amoeba commented on #55
Yes, please! I left it in while I was refactoring and it can safely go.

[2021-12-08 20:06] amoeba opened #56 "Discussion: Slinky applications"
We had a good discussion on our last salmantics call [1] about applications. I'm filing our notes here for posterity. Please add any ideas you have to this issue..

- Locating datasets that particular individuals are involved with (contacts, creators, etc) whether they have a DataONE account or not
- Cross resolution between ORCID and various name variants (Bryce Mecum vs B.Mecum)
- Landing pages

[2021-12-08 20:13] amoeba opened #57 "Review current graph pattern and get feedback"
On our last weekly salmantics call [1], we agreed we should work towards closing out some of the graph pattern issues and PRs in order to get a solid first pattern down.

We have an open PR: https://github.com/DataONEorg/slinky/pull/21 which includes a discussion. The high points include:

- Include prov
- Review how we're handling various identifier types (pid, sid, etc)
- Agree on how we're mode

[2021-12-09 01:48] amoeba commented on #57
Hackpad put together with three examples at https://hpad.dataone.org/9cvSZ4l0RaK-FHjlOcKmPw. If anyone wants to review this now please go ahead and comment in place in each linked document. I'll be bringing this up on tomorrow's salmantics call.

[2021-12-09 22:04] ThomasThelen opened #58 "Support Different Graphs in Production"
Note: This is using language from the codebase in PR #54

With the ongoing effort around developing a solid deployment, this is a use case that can help drive the solution's direction. In production, Slinky currently uses Virtuoso as the backing graph store. We have unit tests that suggest Blazegraph should also work in a production environment; we should include a way to run Blazegraph in product

[2021-12-14 00:57] amoeba opened #59 "Pretty up CLI output with namespace bindings"
The output of the CLI's `get` command can be a bit hard to read because it doesn't make effective use of namespace prefixes.

[2022-01-13 21:31] ThomasThelen opened #60 "Configure the Slinky Ingress"
We nee to configure the Slinky ingress to route traffic from *.dataone.org/slinky to Virtuoso.

One problem that I've come across is that the links in Virtuoso Conductor are relative to *.dataone.org/, _not_ *.dataone.org/slinky. This results in a bunch of broken links and buttons. This can be seen on the [test](https://api.test.dataone.org/slinky) deployment.

Regardless of the broken links, the

[2022-01-13 22:06] amoeba commented on #60
Thanks @ThomasThelen. Related to https://github.com/DataONEorg/slinky/issues/29.

[2022-01-13 22:44] mbjones commented on #60
Might contain some relevant virtual host config info: http://docs.openlinksw.com/virtuoso/qsvirtdir/

[2022-01-19 01:38] ThomasThelen commented on #29
After the Jan 13th salmantics call we decided on something akin to geolink with rdfsurveyor and yasgui. I'm currently refactoring the code linked above in the feature_update_graph_pattern branch to link to the various components of Slinky. `Virtuoso` will direct the user to either the main virtuoso landing page or to the sparql endpoint.
`Browse` will direct the user to the rdfsurveyor page.
`Home

[2022-01-28 01:41] ThomasThelen opened #61 "Versioning the graph and api"
On the Jan 27'th salmantics call we brought up the idea of versioning the graph and creating a set of API endpoints that are also versioned.

## Versioned Graph

Virtuoso doesn't support versions the same way that GraphDB does. Instead of creating new repositories, subgraphs are used.

### Graph Version URI (subgraph URI)
Each subgraph name should follow a convention that we define here. We should

[2022-02-03 03:27] amoeba commented on #57
Ahead of our meeting tomorrow to discuss this, I've re-done the example Turtle snippets to hopefully be more easy to digest on our call, see the links in https://hpad.dataone.org/9cvSZ4l0RaK-FHjlOcKmPw.

[2022-02-09 22:12] ThomasThelen opened #62 "Error using default query filter"
When using the _default_ and _dataone_ query filters I noticed an error in the default worker pod, pasted below. The default is currently an empty dict. I think we should have the default filter query across all DataONE repositories because this will be the default that Slinky will use in production.

[code]

[2022-02-09 22:43] ThomasThelen opened #63 "Support EML 2.0.1"
While testing Slinky on the PISCO datasets I saw a large number of failures because the associated metadata documents are using the `eml://ecoinformatics.org/eml-2.0.1` format, which we don't support.

It might be a good idea to add a new EML processor class to support this version so that we get these datasets in the graph.

[2022-02-09 23:11] mbjones commented on #63
And EML 2.0.0 which is almost identical. It would be great to support all of the released versions of EML (2.0.0, 2.0.1, 2.1.0, 2.1.1, 2.2.0).

[2022-02-09 23:26] ThomasThelen commented on #63
I'm also noticing that a number of LTER datasets are failing since they're using 2.1.0. +1 for supporting all of the EML versions listed above so that we're not missing out on these datasets.

[2022-02-10 22:56] amoeba opened #64 "Fix issues with current triplification pattern"
Last week we worked through some example triples and found a few issues and areas for improvement. See https://hpad.dataone.org/9cvSZ4l0RaK-FHjlOcKmPw for a list of the hackpads we worked through. We pointed out issues directly in the hackpad, and an abridged list is:

- [ ] Missing PROV in at least one case
- [x] Award structure doesn't match SOSO
- [x] Add all parties from metadata not just crea

[2022-02-24 22:35] amoeba commented on #55
Done in https://github.com/DataONEorg/slinky/commit/55c0a2169547583d1f1f4d6c1e05e8d123b8e945. Leaving open until merged.

[2022-02-24 22:38] amoeba opened #65 "Establish code style and linting rules for the d1lod package"
The current d1lod codebase was written styled with [Black](https://github.com/psf/black) which I am pretty happy with and `setup.py` is already configured to install it. We might also pull in one of the common linters (pep8) if that looks useful. The README should reflect whatever we come up with.

[2022-02-24 22:40] amoeba commented on #51
This was done by @ThomasThelen and merged to develop in https://github.com/DataONEorg/slinky/pull/54.

[2022-02-24 22:40] #51 closed, assigned to ThomasThelen

[2022-02-24 22:40] amoeba commented on #53
This was done by @ThomasThelen and merged to develop in https://github.com/DataONEorg/slinky/pull/54.

[2022-02-24 22:40] #53 closed, assigned to ThomasThelen

[2022-02-24 22:42] amoeba commented on #64
Also revisit this paragraph to make sure all of this is captured:

-- From https://github.com/DataONEorg/slinky/pull/21#issuecomment-819130683

[2022-02-25 00:22] amoeba commented on #64
Also bringing this in from our weekly call Re: EML units,

[2022-02-25 22:16] amoeba commented on #65
I've set up Black and Flake8 and updated the readme to reflect that. I also tweaked Flake8's config to not warn about long lines since Black emits lines >80 chars sometimes.

[2022-02-25 22:16] #65 closed, assigned to amoeba

[2022-02-25 22:23] amoeba opened #66 "Set up pytest to only run unit tests by default and integration tests when asked"
This is something I wanted but didn't get done before. I think everyone's happiest when you don't have to run three or more services (Virtuoso, Redis, etc) just to run pytest after a fresh checkout. Turns out pytest can take command line options so we can have pytest run just unit tests by default and add a `--integration` option that runs tests marked as integration tests.

Add this to conftest a

[2022-02-26 01:27] amoeba commented on #66
This is set up in conftest and documented in the readme.

[2022-02-26 01:27] #66 closed, assigned to amoeba

[2022-02-26 01:29] amoeba commented on #57
Feedback has been solicited and summarized in #64 .

[2022-02-26 01:29] #57 closed, assigned to amoeba

[2022-02-26 02:11] amoeba opened #67 "Switch use of schema.org IRIs back to http from https"
@mbjones was saying yesterday that SOSO is going back to using schema.org's http IRIs after all so Slinky should match that. See https://github.com/ESIPFed/science-on-schema.org/blob/develop/decisions/52-namespace-consistency.md.

[2022-02-26 03:10] amoeba commented on #64
Made some good progress on this today and found a few more things that could use some work. I'll add those to the checklist above as I go.

[2022-03-17 18:41] amoeba commented on #64
Noting here that https://schema.org/funding is live.

[2022-04-28 20:59] ThomasThelen commented on #55
Merged through #54 and #55. Closing

[2022-04-28 20:59] #55 closed, assigned to amoeba

[2022-06-11 21:33] ThomasThelen commented on #29
The code from the comment above was merged in #68 and has since been deployed on the development server. It's not a particularly warming interface, but might be enough to close this issue.

<img width="1680" alt="Screen Shot 2022-06-11 at 2 33 21 PM" src="https://user-images.githubusercontent.com/9289652/173205615-de85d808-aae3-427b-ad72-39194c0140f1.png">

[2022-07-06 01:06] amoeba commented on #29
Thanks @ThomasThelen, this improves things.

We still need to come up with a high-level API for DataONE services to rely on. Two examples of high level APIs are:

1. A linked data service that would be responsible for our DataONE PURIs (e.g., https://dataone.org/datasets/foo). This would deal with content negotiation and do things like redirections or return linked data as response bodies when app

[2022-07-11 21:19] ThomasThelen commented on #63
Support for EML 2.x.x was merged in #69

[2022-07-11 21:19] #63 closed, assigned to ThomasThelen

[2022-07-14 21:35] ThomasThelen commented on #39
We now have a minimal landing page with a few example SPARQL queries. The current queries aren't too interesting, so we should leave this open and add a few of the ones Bryce mentioned above.

<img width="1680" alt="Screen Shot 2022-07-14 at 2 33 36 PM" src="https://user-images.githubusercontent.com/9289652/179090000-fc0876f5-1399-4dff-bce2-06ad19b161f3.png">

[2022-07-14 22:52] ThomasThelen opened #70 "Reinstate rqdashboard"
Before putting the work in on the ELK stack, we can get high returns if we re-add the rqdashboard. This shouldn't be exposed to end users, and only accessible though proxying with kubectl

[2022-07-14 23:54] amoeba opened #71 "Cut a 0.3.0 release (first release to production)"
- [ ] Ensure full test suite passes
- [ ] Rename Python package to `slinky`
- [ ] Bump version in code/configs
- [ ] Cut a tag+release on GitHub
- [ ] Create Docker image tags / push to GHCR.io
- [ ] Move issues we didn't do in 0.3.0 into a future milestone

[2022-07-21 05:58] amoeba commented on #60
We talked about this last week and I said I'd have a look. Now that I have, I remember we talked about this quite a while ago and I think we decided we didn't want to expose the conductor externally anyway so I think the above statement:

Is no longer true. To access Virtuoso's conductor interface, I think we'd rather `kubectl port-forward $POD $PORT_MAP`. And if we were to mount Virtuoso at a pat

[2022-07-21 19:29] ThomasThelen commented on #60
I think things have changed a little since first creating this issue.

api.test.dataone.org/slinky -> Serves the webapp
api.test.dataone.org/slinky/sparql -> Serves the virtuoso SPARQL endpoint
Plus the ability to privately access the conductor (to do things like manage protected access to the endpoint)

Here's the ingress that I was previously working off of/trying to get to work.
https://github.

[2022-07-21 22:39] amoeba commented on #60
Ah, okay. Right.

I think the best thing would be for the webapp to own /slinky and everything under it. That would include the API we'll eventually build, proxying access to the SPARQL endpoint, etc. Does that seem reasonable? Putting a layer in front of Virtuoso makes it that much easier to swap Virtuoso out for another triplestore that still handles SPARQL but might use another URL pattern.

[2022-07-22 19:31] ThomasThelen commented on #60
That sounds good to me. I imagine starlette should support this kind of functionality; one unknown to me is how accessing the triplestore interface behind the proxy, whether it's Virtuoso, GraphDB, etc...

[2022-07-23 23:59] amoeba opened #72 "Fix failing tests on develop from PR #69 merge"
PR https://github.com/DataONEorg/slinky/pull/69 introduced four failing tests,

[code]

I'm not sure what's going on here but I'll take a look. These types of tests shouldn't require a network connection so something is probably wrong in test setup.

[2022-08-01 06:02] amoeba commented on #72
Fixed unit tests in https://github.com/DataONEorg/slinky/commit/69dab0b1243b9237635b9748598654d598af7aa8 and ended up tweaking how environment variables work so we just use one env var per service (not two). See https://github.com/DataONEorg/slinky/commit/69dab0b1243b9237635b9748598654d598af7aa8 @ThomasThelen.

[2022-08-01 06:02] #72 closed, assigned to amoeba

[2022-08-01 06:04] amoeba commented on #60
I added another route to the webapp in https://github.com/DataONEorg/slinky/commit/9ec686b2f9507cf422fb831302a783db9b046690 that proxies incoming requests from /sparql to Virtuoso's SPARQL interface. It's totally hard-coded but I've left in TODOs where the rest of the implementation would go. Let me know if you wanna touch base on this @ThomasThelen.

[2022-08-01 19:06] amoeba commented on #52
I'm going to start in on this today since the current set of YAML files don't fully deploy Slinky to a local cluster (they depend on our cluster, specifically cephfs) or our cluster (make doesn't apply Service defs or set up ingress).

[2022-08-01 19:07] amoeba commented on #70
rqdashboard is on develop now, both via docker compose and K8s YAML. https://github.com/DataONEorg/slinky/commit/cc77a5efc43d29aac50e76056f0abea74eef3438 and https://github.com/DataONEorg/slinky/commit/a6dc3b96561f71fa1e8e98a4956b5083cc42868a.

[2022-08-01 19:07] #70 closed, assigned to ThomasThelen

[2022-08-02 05:58] amoeba commented on #52
I pushed a first pass Helm chart to develop under /helm, see https://github.com/DataONEorg/slinky/tree/develop/helm. This installs and the service runs correctly (starts processing). A note for anyone trying to build this, it needs access to a 0.3.0 slinky image I've only built locally and made available on my dev cluster (which you can build too), and pushing those images up is a next order of bu

[2022-08-02 07:01] mbjones commented on #52
Thanks, @amoeba -- I've been pretty happy with the use of GitHub Actions to build and push an image to the GitHub package repository associated with the associated repository -- that makes it easy to automate, easy to find the packages, they can be downloaded into any cluster, and we control the space so we can trust the images. They are public, so one has to watch to not commit secrets, etc. I ha

[2022-08-02 07:05] mbjones commented on #52
Also, I found that the use of sub-charts was really effective to get dependent services installed (e.g., rabbitmq) in our dataone-indexer refactor -- see https://github.com/DataONEorg/dataone-indexer/blob/feature-9-rabbitmq-worker/helm/Chart.yaml

[2022-08-03 03:13] amoeba commented on #52
I've got a working version of the Helm chart installed on the dev cluster, available at https://api.test.dataone.org/slinky. ~~Note: The query editor on that page works but returns a static result for now (more work needed there).~~ Query editor should work now.

[code]

There are three tasks I left undone:

- [ ] Ask whether we should be using `Deployment`s for Virtuoso and Redis or something lik

[2022-08-03 05:39] amoeba commented on #60
FYI it's no longer hard-coded so it should forward your query and return its result.

[2022-08-07 01:23] amoeba commented on #64
Added support for schema:funding in https://github.com/DataONEorg/slinky/commit/7aa9d9487315988db12732aeac732032f21431a2 by mapping EML's award structure. We now get triples out like:

[code]

[2022-08-08 01:11] amoeba opened #73 "Remove render blocking resources from web proxy"
The HTML template the web proxy uses puts two render-blocking resources in the `head` tag. I noticed this because loading the page is noticeably slow. We should move these down into the end of the `body` so they don't render-block.

https://github.com/DataONEorg/slinky/blob/102941f33b053aa40f14d21e9c1e4481ba8e6e6e/deploy/docker/web/templates/base.html#L6-L9

While we're at it, there are a few more

[2022-08-08 19:53] amoeba opened #74 "Include workflow provenance from resource maps"
Workflow provenance information contained in resource maps is currently not included when packages are triplified. The structure should have a nearly 1:1 mapping between the resource map and schema.org/SOSO so adding this in shouldn't be a big job. See the reference at https://github.com/ESIPFed/science-on-schema.org/blob/master/guides/Dataset.md#indicating-a-software-workflow-or-processing-activi

[2022-08-11 00:14] amoeba commented on #62
Still need to fix this bug (weird failure when filter is not defined) and also change the default. We talked as a team and decided the best default would be something that wouldn't hammer DataONE if a user didn't change such as defaulting to all of DataONE. I suggest maybe making the default just recent datasets (last week, last month, etc).